.t1 {
	font-weight: bold;
	font-size: xx-large;
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	color: #FFFFFF;
}
.picbg {
	border: 2px solid
#;
	border: 2px solid
#;
	border: 1px solid #353535;
} 
.picbg:hover {
	border: 1px solid #D8D8D8;
}
.body {
	margin-top: 80px;
}
